.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    width: 200px;
    justify-content: flex-start
}

.number{
    width: 100px;
    justify-content: center;
    align-items: center;
}
    
button{
    padding: 15px;
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    font-size: 20px;
}

button:last-child{
    padding: 15px 70px;
} 